.divViewHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  min-height: 525px;
  padding: 100px 14px;
}

.viewHeaderText {
  font-weight: 500;
  font-size: 50px;
  font-weight: 500;
  color: #ffffff;
  margin: 0;
}
.b {
  text-shadow: 2px 2px 4px #ff8c00;
}

.viewMenuButton {
  margin-top: 20px;
  padding: 10px 20px;
  background: #ff7300d4;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}

.viewClass {
  filter: drop-shadow(2px 2px 4px #ff3f3f);
}
.spanB {
  text-shadow: 2px 2px 4px #ff7300d4;
}
