.backgroundApp {
  background-image: url(/public/images/restaurantBg.jpg);
  height: 525px;
  background-size: cover;
  background-position: center;
  background-size: cover;
  background-position: center;
}
