.ourMenu {
}

.ourDishesSection {
  padding: 40px 20px;
  background-color: #fff;
  text-align: center;
}

.dishesList {
  display: block;
  padding: 0;
  list-style: none;
}

.dishItem {
  margin-bottom: 20px;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dishItemImage {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.dishTitle {
  font-size: 18px;
  color: #333;
  margin-top: 10px;
}

.dishPrice {
  font-size: 16px;
  color: #666;
  margin: 5px 0 0;
}

.button {
  background: #ff7300d4;
  color: #fff;
  border: none;
  min-width: 139px;
  min-height: 43px;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.button:hover {
  background: #de6705c7;
}
