html {
  scroll-behavior: smooth;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Mobile-first styles */
.headerFirstDiv {
  position: fixed;
  width: 100%;
  max-height: 90px;

  background-size: cover;
  background-position: center;
  background-size: cover;
  background-position: center;
  z-index: 12;
}

.headerFirstDiv::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
}

.headerDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px;
}

.headerLogo,
.burgerIcon {
  font-size: 40px;
  cursor: pointer;
}

.headerNav {
  flex-grow: 1;
}

.divViewHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  min-height: 200px;
  padding: 150px 22px;
}

.viewHeaderText {
  font-weight: 500;
  font-size: 40px;
  color: #f87001;
  margin: 0;
}

.viewMenuButton {
  margin-top: 20px;
  padding: 10px 20px;
  background: #ff7300d4;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.viewMenuButton:hover,
.viewMenuButton:focus {
  background: #de6705c7;
}

.navList {
  display: none;
  gap: 20px;
}

.phoneNumber {
  display: none;
}

@media (min-width: 768px) {
  .headerFirstDiv {
    min-height: 100px;
  }

  .divViewHeader {
    padding: 200px 50px;
  }

  .viewHeaderText {
    font-size: 48px;
  }

  .navList {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
  }

  .navItem {
    display: inline-block;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
  }

  .navAncor {
    text-decoration: none;
    color: white;
  }

  .navAncor:hover {
    color: #ffdd57;
    transform: scale(1.2);
  }
  .navItem:hover {
    color: #babfc4;
  }

  .phoneNumber {
    display: block;
    color: white;
    text-decoration: none;

    font-size: 16px;
  }

  .phoneNumber:hover {
    color: #ffdd57;
  }

  .reservationButton {
    display: block;
    padding: 10px 20px;
    background-color: transparent;
    color: #333;
    border: 1px solid #333;
    border-radius: 4px;

    font-size: 16px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
  }

  .reservationButton:hover {
    background-color: #0056b3;
    border-color: #0056b3;
    color: white;
  }

  .viewMenuButton {
    margin-top: 0;
  }

  .burgerIcon {
    display: none;
  }

  .headerLogo {
    font-size: 50px;
  }
}

@media (min-width: 1024px) {
  .headerFirstDiv {
    max-height: 100px;
  }
  .navList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }

  .divViewHeader {
    padding: 200px 100px;
  }

  .viewHeaderText {
    font-size: 56px;
  }

  .navItem {
    font-size: 18px;
  }

  .viewMenuButton {
    padding: 12px 24px;
    font-size: 18px;
  }

  .burgerIcon {
    display: none;
  }

  .headerLogo,
  .burgerIcon {
    font-size: 60px;
  }
}

/* -------------- Burger menu ----------- */

.burgerMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #efeae6d4;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border: none;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close {
  position: absolute;
  top: 25px;
  right: 20px;
  cursor: pointer;
  font-size: 40px;
  color: #ff7300;
}

.navLink {
  text-decoration: none;
  color: #ff7300;
  font-size: 24px;
}
.hidden {
  transform: translateY(-100%);
}

.burgerNav {
  text-align: center;
}

@media screen and (min-width: 768px) {
}

@media screen and (max-width: 768px) {
  .headerNav {
    display: none;
  }
  .burgerIcon {
    display: flex;
    font-size: 50px;
  }
  .phoneNumber {
    display: none;
  }
}
