/* header.module.css */

/* Mobile-first styles */
.headerFirstDiv {
  position: relative;
  min-width: 320px;
  min-height: 600px;
  background-image: url(/public/images/restaurantBg.jpg);
  background-size: cover;
  background-position: center;
}

.headerFirstDiv::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
}

.headerDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px;
}

.headerLogo,
.burgerIcon {
  font-size: 40px;
}

.headerNav {
  flex-grow: 1;
  margin-left: 20px;
}

.divViewHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  min-height: 200px;
  padding: 150px 22px;
}

.viewHeaderText {
  font-weight: 500;
  font-size: 40px;
  color: #f87001;
  margin: 0;
}

.viewMenuButton {
  margin-top: 20px;
  padding: 10px 20px;
  background: #ff7300d4;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.viewMenuButton:hover,
.viewMenuButton:focus {
  background: #de6705c7;
}

.navList {
  display: none;
}

.phoneNumber {
  display: none;
}

@media (min-width: 768px) {
  .headerFirstDiv {
    min-height: 600px;
  }

  .divViewHeader {
    padding: 200px 50px;
  }

  .viewHeaderText {
    font-size: 48px;
  }

  .headerNav {
    margin-left: 40px;
  }

  .navList {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
  }

  .navItem {
    display: inline-block;
    margin: 0 10px;
    font-size: 16px;
    color: white;
    cursor: pointer;
  }

  .navItem:hover {
    color: #babfc4;
  }

  .phoneNumber {
    display: block;
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
  }

  .phoneNumber:hover {
    color: #babfc4;
  }

  .reservationButton {
    display: block;
    padding: 10px 20px;
    background-color: transparent;
    color: #333;
    border: 1px solid #333;
    border-radius: 4px;
    margin-left: 20px;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
  }

  .reservationButton:hover {
    background-color: #0056b3;
    border-color: #0056b3;
    color: white;
  }

  .viewMenuButton {
    margin-top: 0;
  }
  .burgerIcon {
    display: none;
  }
  .headerLogo {
    font-size: 50px;
  }
}

@media (min-width: 1024px) {
  .divViewHeader {
    padding: 200px 100px;
  }

  .viewHeaderText {
    font-size: 56px;
  }

  .navItem {
    margin: 0 20px;
    font-size: 18px;
  }

  .phoneNumber,
  .reservationButton {
    margin-left: 30px;
  }

  .viewMenuButton {
    padding: 12px 24px;
    font-size: 18px;
  }
  .burgerIcon {
    display: none;
  }
  .headerLogo,
  .burgerIcon {
    font-size: 60px;
  }
}
