body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Example of font usage */
h1 {
  font-family: "Tinos", serif; /* Tinos Regular */
  font-weight: 400; /* Regular weight */
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600; /* Open Sans SemiBold */
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700; /* Open Sans Bold */
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

em {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
}

.cookie-text {
  font-family: "Cookie", cursive;
}

/* Reset margin and padding for lists */
ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}
