/* auth.module.css */
.divAuth {

    padding: 20px; /* Відступи всередині блоку */
    border-radius: 8px; /* Згладжені краї */

    max-width: 300px; /* Обмеження ширини */
    margin: 0 auto; 
}

.ulAuth {
    display: flex;
    justify-content: space-between; /* Простір між елементами */
    list-style-type: none; /* Прибрати маркери списку */
    padding: 0; /* Прибрати зайві відступи */
    margin: 0; /* Прибрати зайві відступи */
}

.liAuth {
    color: #fff;
    text-decoration: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
}

.liAuth:hover {
    background-color:  #ff7300;; 
}

.navItem {
    list-style: none;
}


.ulAuth::before {
    content: ''; 
    display: none; 
}
